body {
	width: 100%;
	height: 900px;
	margin: 0;
	background: url(../img/fon.png) center no-repeat;
	background-size: cover;
}

.main-background {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: rgba(0, 0, 0, 0.5);
}

.pop-up_menu {
	list-style: none;
	display: flex;
	flex-direction: row;
}

.pop-up_menu__list1 {
	margin: 10px 30px;
	padding: 5px 10px;
	border: solid 5px black;
	border-radius: 10px;
}

.pop-up_menu__list2 {
	margin: 10px 30px;
	padding: 5px 10px;
	border: solid 5px black;
	border-radius: 10px;
}

.pop-up_menu__list1 a {
	text-decoration: none;
	color: black;
}

.pop-up_menu__list2 a {
	text-decoration: none;
	color: black;
}

h1 {
	text-align: center;
	font-size: 100px;
	margin: 0;
	padding-top: 100px;
}

.pop-up {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	background-color: rgba(0,0,0,.4);
}

.pop-up__window {
	background: white;
	position: fixed;
	left: 50%;
	width: 752px;
	height: 400px;
	top: 300px;
	transform: translateX(-50%);
}

.pop-up__window span {
	margin-left: 735px;
}

.hidden {
	display: none;
}














#canvas4 {
	border: solid 3px green;
}


.pool-1{
	background: lightgray;
	min-width: 500px;
	min-height: 300px;
}

.pool-2{
	background: lightgray;
	margin-top: 20px;
	min-width: 500px;
	min-height: 300px;
}

.el {
	width: 70px;
	height: 70;
	display: inline-block;
	border: solid 3px blue;
	margin: 20px;
	padding: 20px;
	font-size: 40px;
	text-align: center;
}


.section_for_button {
	background: lightyellow;
	width: 100%;
	min-height: 500px;
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}


#button_for_click {
	background: grey;
	color: white;
	padding: 20px 40px;
	border: 3px solid green;
	border-radius: 20px;
}