body {
	width: 100%;
	height: 900px;
	margin: 0;
	background: url(../img/fon.png) center no-repeat;
	background-size: cover;
}

.main-background {
	width: 100%;
	height: 928px;
	margin: 0;
	padding: 0;
	background: rgba(0, 0, 0, 0.5);
}

h1 {
	text-align: center;
	font-size: 100px;
	margin: 0;
}

#canvas4 {
	border: solid 3px green;
}


.pool-1{
	background: lightgray;
	min-width: 500px;
	min-height: 300px;
}

.pool-2{
	background: lightgray;
	margin-top: 20px;
	min-width: 500px;
	min-height: 300px;
}

.el {
	width: 70px;
	height: 70;
	display: inline-block;
	border: solid 3px blue;
	margin: 20px;
	padding: 20px;
	font-size: 40px;
	text-align: center;
}
